body, html {
    height: 100%;
    margin: 0;
}
.page{
    background-image: url(../images/sign.PNG);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: 50px;
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
nav{
    margin-top: -25px;
    margin-right: 40px;
    justify-content: space-between;
}
nav a{
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.container{
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}
.left{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    margin-right:15px ;
}
.left-title{
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-subtitle{
    margin: 15px 0px;
    color: white;
}
.input{
    margin: 5px;
    width: 155px;
    height: 30px;
    background-color: transparent;
    border-bottom: 2px solid rgb(246, 236, 236);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    outline: none;
}
::placeholder {
  color: #ffffff;
  opacity: 1;
}
.submitBtn{
    background-color: #ffffff;
    border-radius: 5px;
    width:110px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: transparent;
    font-weight: 700;
    color: rgb(20, 20, 235);
    margin-left: 100px;
}
.right{
    background-color: #ffffff;
    height: 100%;
    width: fit-content;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.right-title{
    margin: 15px;
    color:rgb(20, 20, 235) ;
    font-weight: 700;
    font-size: larger;
}
.phone{
    color:rgb(20, 20, 235) ;
    font-size: large;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.email{
    color:rgb(20, 20, 235) ;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
    margin-top: 15px;
}
