html{
    scroll-behavior: smooth;
}
.mainBox{
    display: flex;
    flex-direction: column;
}
.topSide{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    top: 0;
    left: 0;
    height: 65px;
    justify-content: space-between;
}
.topLeft{
    display: flex;
    flex-direction: row;
}
.logo{
    margin-top: -32px;
    width: 180px; 
    height: 120px; 
}
.signin{
    margin-top: -16px;
    height: 40px;
    width: 90px;
    border: 0px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 15px;
    margin-left: 20px;
}
.sign{
    color: white;
    font-weight: lighter;
}
.signin:hover{
    border: none;
    border-radius: 15px;
    background-color: rgb(86, 191, 226);
    font-weight: 600;
}
.middle1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
    border-bottom: 1px solid black;
}
.middleLeft{
    display: flexbox;
    margin-left: 15px;
}
.title{
    font-weight: 700;
    font-size: 70px;
    margin-top: 50px;
}
.subtitle{
    margin-top: 50px;
    font-size: larger;
}
.start{
    color: white;
    background-color: black;
    border-radius: 15px;
    height: 47px;
    width: 110px;
    border: 0px solid;
    margin-top: 50px;
}
.start:hover{
    border: 1px solid none;
    background-color: rgb(95, 210, 249);
    font-weight: 500;
    color: black;
}
.topRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 20px;
}
.middle2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middle2-left{
    margin-left: 30px;
}
.h2{
    margin-top: 75px;
    font-weight: 700;
    font-size: 50px;
}
.m2-subtitle{
    font-size: larger;
}
.middle2-right{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.t{
    font-weight: bolder;
}
.st{
    font-size: 13px;
    color: gray;
    font-weight: lighter;
}
.f1{
    border-bottom: 0.5px solid gray;
}
.f2{
    border-bottom: 0.5px solid gray;
}
.f3{
    border-bottom: 0.5px solid gray;
}
.footer{
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 55px;
}  
.cr{
    margin-right: 500px;
    margin-top: 27px;
}

.tb{
    font-weight: bold;
    color: rgb(29, 121, 160);
}
a{
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 19px;
    margin-top: -8px;
}